#status1,
#status2 {
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 200px;
}

#status1 {
    background: green;
    color: white;
}

#status1:hover {
    transition: .3s ease;
    background: white;
    color: green;
}

#status2 {
    background: red;
    color: white;
}

#status2:hover {
    transition: .3s ease;
    background: white;
    color: red;
}

.text {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;

}

.modal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.modal_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

button {
    background: #007bff;
    color: #ffc107;
    border-radius: 15px;
    align-items: center;
}

button:hover {
    color: #007bff;
    background: #ffc107;
    transition: .3s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}