.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5%;
    font-size: 24px;
    background: transparent;
    border: none;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.prev-btn {
    left: 0;
    margin-top: 100px;
}

.next-btn {
    right: 0;
    margin-top: 100px;
}