@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #ffc107;
    padding: 30px;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}


.sidebar {
    z-index: 150;
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #007bff;
    color: #fff;
    top: 0;
    left: -200px;
    /* Initially off-screen */
    transition: left 0.3s ease;
}


.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn:hover {
    background: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;

}

.sidebar ul li {
    padding: 10px;
}

.special .product {
    display: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
}

.sidebar ul li a:hover {
    color: #ffc107;
}

.container {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;

}

.content .slideshow-container {
    margin-top: 90px;
}


.open-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.iconCart {
    position: absolute;
    top: 10px;
    right: 85px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.order_Quantity {
    position: absolute;
    top: 0%;
    padding: 6px;
    right: 80px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: black;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.container .product {
    margin-top: 10px;

}

.product .product-card {
    position: relative;
    background: royalblue;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}

.product .product-card:before {
    content: '';
    background: #007bff;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
    position: absolute;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product .product-card .name {

    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}

.product .product-card .price {

    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}

.product .product-card .popup-btn {
    color: white;
    background: #ffc107;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

.product .product-card .popup-btn:hover {
    background: white;
    color: #ffc107;
    transition: .3s ease;
}


.product .popup-view {
    z-index: 100;
    background: rgba(221, 214, 214, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.product .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.product .popup-card .product-img {
    z-index: 1;
    background: #ffc107;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
    z-index: 1;
    position: relative;
    width: 450px;
    left: -50px;
}

.product .popup-card .info {
    z-index: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup-card .close-btn {
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}

.product .popup-card .info h2 span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p {
    font-size: 15px;
    margin: 10px;
}

.product .popup-card .info .price {
    font-size: 25px;
    font-weight: 300;
    margin: 10px;
}

.product .popup-card .info {
    color: #fff;
    background: #007bff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}

.popup-btn {
    color: white;
    background: #ffc107;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.add-cart-btn:hover {
    color: #ffc107;
    background: white;
    transition: .5s ease;
}

.add-cart-btn {
    color: white;
    background: #ffc107;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.popup-btn:hover {
    color: #ffc107;
    background: white;

    @media (max-width: 900px) {
        .product .popup-card {
            flex-direction: column;
            width: 550px;
            height: auto;
        }

        .product .popup-card .product-img {
            z-index: 3;
            width: 100%;
            height: 200px;
            transform: translateY(0);
            border-bottom-left-radius: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .product .popup-card .product-img img {
            left: initial;
            max-width: 100%;
        }

        .product .popup-card .info {
            width: 100%;
            height: auto;
            padding: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .product .popup-card .info h2 {
            margin: 20px 5px 5px 5px;
            font-size: 25px;
        }

        .product .popup-card .info h2 span {
            font-size: 10px;
        }

        .product .popup-card .info p {
            margin: 5px;
            font-size: 13px;
        }

        .product .popup-card .info .price {
            margin: 5px;
            font-size: 15px;
        }

        .product .popup-card .info .add-cart-btn {
            margin: 5px auto;
            padding: 5px;
            font-size: 12px;
        }

        .product .popup-card .close-btn {
            z-index: 4;
        }
    }
}