.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.wrapper {
    width: 900px;
    min-height: auto;
    margin: 20px auto;
}

.container {
    position: relative;
    min-height: 100vh;
}

.wrapper ul {
    list-style: none;
    padding: 0;
}

.wrapper ul:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper ul li img {
    width: calc(30% - 5px);
    margin: 30px 15px 0;
    height: 150px;
    background-size: cover;
    background-position: center center;
    float: left;
    box-shadow: 0 15px 10px 1px rgba(0, 0, 0, 0.5);

}


.wrapper ul li img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.wrapper ul li:nth-child(1n + 4) {
    max-height: 0;
    opacity: 0;
    transition: 0.2s ease-in;
}

.wrapper .btn-area {
    display: block;
    background: #007bff;
    color: #ffc107;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: 180px;
    line-height: 50px;
    margin: 5px auto 0;
    border-radius: 50px;
}

.wrapper .btn-area:hover {
    transition: .5s ease;
    background: #ffc107;
    color: #007bff;
}

.wrapper .btn-area .btn2 {
    display: none;
}

.wrapper #btnBox {
    display: none;
}

.wrapper #btnBox:checked~ul li:nth-child(1n + 4) {
    max-height: 1000px;
    opacity: 1;
    transition: 0.2s ease-in;
}

.wrapper #btnBox:checked~.btn-area .btn2 {
    display: block;
}

.wrapper #btnBox:checked~.btn-area .btn1 {
    display: none;
}

.container .popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: none;
}

.container .popup span {
    position: fixed;
    top: 12%;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    z-index: 100;
}

.container .popup img {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;

}

@media (max-width:768px) {
    .container .popup img {
        width: 95%;

    }
}